/*
*
*	base-mixins
*	author: TigerMehMat
*	git: https://github.com/TigerMehMat/base-mixins
*
*/

$base-mixins-shadow-blur: 1em !default;
$base-mixins-precent-gradient: 50% !default;
$base-mixins-precent-light: 5% !default;


@mixin linear-gradient($color1, $color2, $precent: $base-mixins-precent-gradient) {
	background-color: mix($color1, $color2, $precent);
	background-image: -o-linear-gradient($color1, $color2);
	background-image: -moz-linear-gradient($color1, $color2);
	background-image: -webkit-linear-gradient($color1, $color2);
	background-image: linear-gradient($color1, $color2);
}


@mixin getReal($color, $precent:$base-mixins-precent-light) {
	@include linear-gradient(lighten($color, $precent), darken($color, $precent));
}

@mixin getRealOut($color, $precent:$base-mixins-precent-light) {
	@include linear-gradient(darken($color, $precent), lighten($color, $precent));
}

@mixin getLight($color, $size: $base-mixins-shadow-blur) {
	box-shadow: 0 0 $size $color;
}

@mixin getLit($color, $size: $base-mixins-shadow-blur, $precent: $base-mixins-precent-light) {
	@include getLight(lighten($color, $precent), $size);
	background: lighten($color, $precent);
}

@mixin noUse(){
	user-select: none;
	pointer-events: none;
}

@mixin font-face($fontName, $fontFileName, $fontWeight: normal, $fontStyle: normal) {
	@font-face {
		font-family: $fontName;
		src: url($fontFileName+".eot");
		src: local('☺'), url($fontFileName+".woff") format('woff'), url($fontFileName+".ttf") format('truetype'), url($fontFileName+".svg") format('svg');
		font-weight: $fontWeight;
		font-style: $fontStyle;
	}
}
